body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.cls-1,
.cls-2,
.cls-4 {
  isolation: isolate;
}

.cls-2 {
  font-size: 80px;
  fill: #48415b;
  font-family: Rockwell-ExtraBold, Rockwell Extra Bold;
  font-weight: 800;
}

.cls-3 {
  font-size: 77.1px;
}

.cls-4 {
  font-size: 80.96px;
  fill: #2fcb81;
  font-family: Pacifico-Regular, Pacifico;
}


